<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head th:replace="blocks/header :: htmlhead"></head>
<body>

<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
            <span class="navbar-brand">
                <strong class="wf-bold" th:text="${user.getEmail()}"></strong>
                        with roles:
                        <span th:text="${roles}"></span>
            </span>
        <form class="d-flex" th:action="@{/logout}">
            <button class="btn btn-dark" type="submit">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid bg-secondary bg-opacity-10">
    <div class="row">
        <div class="col-2 bg-white min-vh-100 pt-3 p-0">
            <div class="list-group list-group-flush">
                <a th:unless="${!isAdmin}" th:href="@{/admin}" class="list-group-item list-group-item-action" >
                    Admin
                </a>
                <a th:href="@{/user(id=1)}" class="list-group-item list-group-item-action active" aria-current="true">User</a>
            </div>
        </div>
        <div class="col-10 min-vh-100">
            <div class="min-vh-100 p-3">
                <h1>User Information-page</h1>
                <div class="tab-content" id="nav-tabContent">
                    <ul class="list-group">
                            <li class="list-group-item bg-secondary bg-opacity-10 p-3">
                                <h5 class="mb-0 ps-2">About user</h5>
                            </li>
                            <li class="list-group-item">
                                <table class="table table-hover p-3">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row" th:text="${user.getId()}"></th>
                                        <td th:text="${user.getName()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td th:text="${roles}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="blocks/footer :: script"></script>
</body>
</html>
