<!DOCTYPE html>
<html lang="ru" >
<head th:replace="blocks/header :: htmlhead"></head>
<body>

    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-brand render-header-user"></span>
            <form class="d-flex" action="/logout">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid bg-secondary bg-opacity-10">
        <div class="row">
            <div class="col-2 bg-white min-vh-100 pt-3 p-0">
                <div class="list-group list-group-flush">
                    <a href="/admin" class="list-group-item list-group-item-action active" aria-current="true">
                        Admin
                    </a>
                    <a href="/user" class="list-group-item list-group-item-action">User</a>
                </div>
            </div>
            <div class="col-10 min-vh-100">
                <div class="min-vh-100 p-3">
                    <h1>Admin Panel</h1>
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-table-tab" data-bs-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-table" aria-selected="true">Users Table</a>
                        <a class="nav-link" id="nav-user-tab" data-bs-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false">New User</a>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">
                            <ul class="list-group">
                                <li class="list-group-item bg-secondary bg-opacity-10 p-3">
                                    <h5 class="mb-0 ps-2">All users</h5>
                                </li>
                                <li class="list-group-item">
                                    <table class="table table-hover p-3">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="render-user-body"></tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                            <ul class="list-group">
                                <li class="list-group-item bg-secondary bg-opacity-10 p-3">
                                    <h5 class="mb-0 ps-2">Add new user</h5>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col">
                                            <form action="#" method="post" class="text-center p-2 js-user-create-form">
                                                <div class="mb-3">
                                                    <label for="first-name-field" class="form-label">First name</label>
                                                    <input required type="text" class="form-control" id="first-name-field" name="name" value="testName">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email-field" class="form-label">Email</label>
                                                    <input required type="email" class="form-control" id="email-field" name="email" value="test@email.ru">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password-field" class="form-label">Password</label>
                                                    <input required type="password" class="form-control" id="password-field" name="password" value="testPass123">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="roles-field-new" class="form-label">Role</label>
                                                    <select id="roles-field-new" required class="form-select render-new-user-roles" name="roles" multiple></select>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="submit" class="btn btn-primary">Создать</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalUserData" aria-labelledby="modalUserData" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">User edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" id="formUserData" class="text-center p-2 js-user-data-form">
                        <input type="hidden" name="id" value="" id="modal-hidden-id-field">
                        <div class="mb-3">
                            <label for="modal-id-field" class="form-label">ID</label>
                            <input required disabled type="text" class="form-control" value="" id="modal-id-field"/>
                        </div>
                        <div class="mb-3">
                            <label for="modal-first-name-field" class="form-label">First name</label>
                            <input required type="text" class="form-control" name="name" value="" id="modal-first-name-field">
                        </div>
                        <div class="mb-3">
                            <label for="modal-email-field" class="form-label">Email</label>
                            <input required type="email" class="form-control" name="email" value="" id="modal-email-field" >
                        </div>
                        <div class="mb-3">
                            <label for="modal-password-field" class="form-label">Password</label>
                            <input required type="password" class="form-control" name="password" id="modal-password-field">
                        </div>
                        <div class="mb-3">
                            <label for="modal-roles-field" class="form-label">Role</label>
                            <select id="modal-roles-field" name="roles" required class="form-select" multiple></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="button-edit" type="submit" form="formUserData" class="btn btn-primary">Edit</button>
                    <button id="button-delete" type="submit" form="formUserData" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="blocks/footer :: script"></script>
</body>
</html>
